{% extends "main.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Historial de Pagos</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>

    <div class="row">
        <div class="col-xs-12 col-sm-12">
        <div class="panel panel-default">

              <div class="panel-body">
                  <form method="POST" action="{% url 'paymenthistory' %}">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="input-group">
                          <span class="input-group-btn">
                                 <a class="btn btn-default" href="{% url 'paymenthistory' %}"><i class="glyphicon glyphicon-th-list"></i> Mostrar Todos</a>
                            <button class="btn btn-default" type="submit">Buscar</button>
                          </span>
                          <input type="text" class="form-control" name="search" placeholder="Buscar por...">
                        </div><!-- /input-group -->
                      </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                  </form>
              </div>

            <div class="row">
                <div class="col-xs-8 col-sm-8 col-lg-8">
                {% if search %}
                    <div class="alert alert-success alert-dismissible" role="default" style="list-style-type: none;">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Filtrado Por:  {{ search }}</strong>
                    </div>
                {% endif %}
                </div>
            </div>
            <br>
            <br>

                <table class="table table-bordered">


                    <thead>


                         <th>ID de Pago <a href="?order_by=payment_id&direction=asc" class="glyphicon glyphicon-arrow-up"></a>
                                       <a href="?order_by=payment_id&direction=desc" class="glyphicon glyphicon-arrow-down"></a>
                        </th>
                        <th>ID de Recurrencia<a href="?order_by=user_payment_id&direction=asc" class="glyphicon glyphicon-arrow-up"></a>
                                            <a href="?order_by=user_payment_id&direction=desc" class="glyphicon glyphicon-arrow-down"></a>
                        </th>
                        <th>Codigo</th>
                        <th>Estado <a href="?order_by=status&direction=asc" class="glyphicon glyphicon-arrow-up"></a>
                                     <a href="?order_by=status&direction=desc" class="glyphicon glyphicon-arrow-down"></a>


                        <th>Monto <a href="?order_by=amount&direction=asc" class="glyphicon glyphicon-arrow-up"></a>
                                     <a href="?order_by=amount&direction=desc" class="glyphicon glyphicon-arrow-down"></a>
                        </th>
                        <th>ID de Integrador</th>
                        <th>Fecha <a href="?order_by=creation_date&direction=asc" class="glyphicon glyphicon-arrow-up"></a>
                                  <a href="?order_by=creation_date&direction=desc" class="glyphicon glyphicon-arrow-down"></a>                        
                        </th>
                        <th>Descripcion</th>
                        <th>Manual</th>
                        <th>Acciones</th>
                    </thead>
                   <tbody>
                    {% for item in registros %}
                    <tr>
                        <td>{{ item.payment_id }}</td>
                        <td><a href="/ui/userpayment/{{item.user_payment.user_payment_id}}">{{ item.user_payment.user_payment_id }}</a></td>
                        <td>{{ item.code }}</td>
                        <td>{% for key, i in status.items %}
                                {% if key == item.status %}
                                   {{ i }}
                                {% endif %}
                             {% endfor %}
                        </td>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.gateway_id }}</td>
                        <td>{{ item.creation_date }}</td>
                        <td><span class="message" data-toggle="tooltip" data-placement="top" title="{{ item.description }}">{{ item.description }}</span></td>
                        <td>{{ item.manual }}</td>
                        <td>


                            <!-- Formulario modal 1526734142 -->
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#ver{{item.id}}">
                              <i class="glyphicon glyphicon-zoom-in"></i> Ver Detalle
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="ver{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                          <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"> Detalle del Pago</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                          </div>
                                            <div class="modal-body">
                                                  <div class="form-group">
                                                    <label>ID de Pago</label> <h5>{{ item.payment_id }}</h5>
                                                  </div>
                                                  <div class="form-group">
                                                    <label>ID de Recurrencia</label> <h5>{{ item.user_payment.user_payment_id }}</h5>
                                                  </div>
                                                  <div class="form-group">
                                                    <label>Codigo</label> <h5>{{ item.code }}</h5>
                                                  </div>
                                                  <div class="form-group">
                                                    <label>Tarjeta</label> <h5>{{ item.card.card_id }}</h5>
                                                  </div>
                                                  <div class="form-group">
                                                    <label>Estado</label>
                                                  <h5>
                                                      {% for key, i in status.items %}
                                                        {% if key == item.status %}
                                                           {{ i }}
                                                        {% endif %}
                                                     {% endfor %}
                                                  </h5>
                                                  </div>

                                                  <div class="form-group">
                                                    <label>ID de Integrador</label> <h5>{{ item.gateway_id }}</h5>
                                                  </div>
                                                <div class="form-group">
                                                    <label>Monto</label> <h5>{{ item.amount }}</h5>
                                                  </div>

                                                  <div class="form-group">
                                                        <label>Impuesto</label> <h5>{{ item.vat_amount }}</h5>
                                                      </div>
                                                  <div class="form-group">
                                                        <label>Neto</label> <h5>{{ item.taxable_amount }}</h5>
                                                      </div>
                                                  <div class="form-group">
                                                        <label>Descuento %</label> <h5>{{ item.disc_pct }}</h5>
                                                      </div>
                                                <div class="form-group">
                                                    <label>Descripcion</label> <h5>{{ item.description }}</h5>
                                                </div>
                                                <div class="form-group">
                                                    <label>Mensaje</label> <h5>{{ item.message }}</h5>
                                                  </div>
                                                <div class="form-group">
                                                    <label>Integrador</label> <h5>{{ item.integrator.name }}</h5>
                                                  </div>
                                                  {% if item.manual %}
                                                  <div class="form-group">
                                                    <label>Pago Manual</label>
                                                  </div>
                                                  {% endif %}

                                                  <div class="modal-footer">
                                                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Cancelar</button>
                                                  </div>
                                            </div>
                                        </div>
                                  </div>
                            </div>








                        </td>
                    </tr>

                   {% endfor %}
                   </tbody>
           </table>






        <nav aria-label="Page navigation">
          <ul class="pagination">
               {% if registros.has_previous %}
              <li>
                  <a href="?page={{ registros.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% else %}
                 <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% endif %}



                {% for i in registros.paginator.page_range %}
                  {% if registros.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}




               {% if registros.has_next %}
                <li>
                  <a href="?page={{ registros.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% else %}
                 <li class="disabled">
                     <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                 </li>
            {% endif %}
          </ul>
        </nav>
        <ol class="breadcrumb">
            <li><p class="navbar-text navbar-right">Total de Registros: {{ registros.paginator.count }}</p>   </li>
        </ol>
        </div>
        </div>
    </div>

{% endblock %}