{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h4>{{ title }}</h4>
  </div>
  <div class="col-12">
    <hr>
  </div>
</div>
<div class="row mt-3">
  <div class="col-4" id="tableCol">
    <div class="card shadow border-0 bg-danger-gradient">
      <div class="card-body text-center">
        <span class="indicator text-light">{{ userpaymentserrors }}</span>
        <p class="text-uppercase text-light">Con error en recurrencia</p>
        {% if userpaymentserrors > 0 %} <a href="/ui/pagos-recurrentes/?recurringpay=error" role="button" class="btn btn-outline-light btn-sm">Listar Errores</a>{% endif %}
      </div>
    </div>
  </div>
  <div class="col-4" id="tableCol">
    <div class="card shadow border-0">
      <div class="card-body text-center">
        <span class="indicator text-secondary">{{ userpaymentsact }}</span>
        <p class="text-uppercase text-secondary">Con error en recurrencia con acceso</p>
        {% if userpaymentsact > 0 %} <a href="/ui/pagos-recurrentes/?recurringpay=erroract" role="button" class="btn btn-outline-secondary btn-sm">Listar Errores</a>{% endif %}
      </div>
    </div>
  </div>
  <div class="col-4" id="tableCol">
    <div class="card shadow border-0">
      <div class="card-body text-center">
        <span class="indicator text-secondary">{{ userpaymentsdes }}</span>
        <p class="text-uppercase text-secondary">Con error en recurrencia sin acceso</p>
        {% if userpaymentsdes > 0 %} <a href="/ui/pagos-recurrentes/?recurringpay=errordes" role="button" class="btn btn-outline-secondary btn-sm">Listar Errores</a>{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}